.profile-ul,
.rate-ul {
  list-style: none;
}



.rate-student {
  width: 100px;
  height: 100px;

  background-image: url('https://images.unsplash.com/photo-1459262838948-3e2de6c1ec80?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}



.rate-coach {
  width: 100px;
  height: 100px;

  background-image: url('https://images.unsplash.com/photo-1701273973387-8abff988bb88?q=80&w=986&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}