.co-card {
  padding: 70% 0px 20px 0px;
}

.btn {
  width: 50%;
}

.col {
  padding: 9% 0px 0px 0px;
}


.co-img {
  width: 155%;
  clip-path: circle(38%);
  top: 10%;
  pointer-events: none;

  // mask-image: url('./eee.png');
  // mask-position: 30px ,20px;
  // mask-size: contain;
  // mask-repeat: no-repeat;
}