footer {
  ul {
    list-style-type: none;
    .text-brand-01 {
      &:hover {
        color: #779ECB !important;
      }
    }
  }
  .text-small {
    font-size: 14px
  }
}

.w-md-75 {
  @media (min-width: 768px) {
    max-width: 75% ;
  }
}